env/
media/*
static/*
.venvfamily/
db.sqlite3/


uploads/
db.*
.idea/
.vscode/
db.sqlite3
db.json
.env
*.sqlite3




# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.svg
*.png
*.pdf
static/
.fuse*