{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Utilisateurs</h1>
        </div>          
 <!-- Divider -->
 <hr class="sidebar-divider">

     <!-- Topbar -->
     <nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow">

      <!-- Topbar Search -->
      <form
          class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
              <input type="text" class="form-control bg-blue border-10 small" placeholder="Search for..."
                  aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                  </button>
              </div>
          </div>
      </form>

      <div class="d-sm-flex align-items-center ">
        <button onclick="setTONull()" data-toggle="modal" data-target="#myModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-plus fa-sm text-white-50"></i> Ajouter Utilisateur</button>
        </div>
  </nav>

        <table id="userTable" class="table table-striped data-table">
          <thead>
            <tr>
              <th>PRENOM</th>
              <th>NOM</th>
              <th>USERNAME</th>
              <th>EMAIL</th>
              <th>TELEPHONE</th>

              <th style="text-align:center" colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% if users %}
            {% for user in users %}
            <tr id="user-{{user.id}}">
              <td class="firstClass posteData" name="firstName">{{user.first_name}}</td>
              <td class="lastClass posteData" name="lastName">{{user.last_name}}</td>
              <td class="usernameClass posteData" name="usernameName">{{user.username}}</td>
              <td class="emailClass posteData" name="emailName">{{user.email}}</td>
              <td class="telClass posteData" name="telName">{{user.tel}}</td>
              <td class="adressClass posteData" style="display: none;" name="adressName">{{user.adress}}</td>

              <td class="align-center">
                <button id="btn_edit" class="btn btn-success" style="float:right" onClick="edituser({{user.id}})" data-toggle="modal" data-target="#myModal"><i class="fas fa-edit"></i></button>
              </td>
            
              <td class="align-center">
                  <button class="btn btn-danger" onClick="deleteU({{user.id}})">
                    <i class="fas fa-trash-alt"></i>
                  </button>
              </td>
          </tr>
            {% endfor %}
            {% else %}          
            {% endif %}
        </tbody>
          </table>    
    </div>


    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
       
      <form  id="adduser" action="">
      <div class="modal-body">
          <input class="form-control" id="form-id" type="hidden" name="formId"/>
          <div class="row">
            <div class="col-sm">
              <label >PRENOM</label>
              <input class="form-control" id="form-prenom" type="text" name="formPrenom"/>
            </div>
            <div class="col-sm">
            <label >NOM</label>
            <input class="form-control" id="form-nom" type="text" name="formNom"/>
            </div>
          </div>
          <hr>
          <label >EMAIL</label>
          <input type="email" class="form-control" id="form-email" name="formEmail"/>
          <hr>
          <div class="row">
            <div class="col-sm">
              <label >NOM UTILISATEUR</label>
              <input class="form-control" id="form-user" type="text" name="formUser"/>
            </div>
              <div class="col-sm">
                <label >MOT DE PASSE</label>
          <input type="password" class="form-control" id="form-pass" name="formPass"/>
            </div>
          </div>
          <hr> 
          <div class="row">
            <div class="col-sm">
              <label >TELEPHONE</label>
              <input class="form-control" id="form-tel" type="text" name="formTel"/>
            </div>
              <div class="col-sm">
                <label>ADRESSE</label>
                <input class="form-control" id="form-adress" type="text" name="formAdress"/>
            </div>
          </div>
          <hr>      
      </div>
      <div class="modal-footer">
          <button id="btn_save" name="btn" type="submit" class="btn btn-primary" >Enregistrer</button>
          <button id="btn_close" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
      </form>
    </div>
  </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

    $('#adduser').submit(function() {
     
    var temoin = $('#btn_save').text();
    var prenomInput = $('input[name="formPrenom"]').val().trim();
    var nomInput = $('input[name="formNom"]').val().trim();
    var userInput = $('input[name="formUser"]').val().trim();
    var telInput = $('input[name="formTel"]').val().trim();
    var adressInput = $('input[name="formAdress"]').val().trim();
    var emailInput = $('input[name="formEmail"]').val().trim();
    var passInput = $('input[name="formPass"]').val().trim();
    

    var compare = temoin.localeCompare('Enregistrer');
  
      if(compare == 0)
      {
        if (prenomInput) {
          // Create Ajax Call
          $.ajax({
              url: '{% url "userCreate" %}',
              data: {
                  'prenom': prenomInput,
                  'nom': nomInput,
                  'tel': telInput,
                  'email': emailInput,
                  'username': userInput,
                  'password': passInput,
                  'adress':adressInput
              },
              
              
              dataType: 'json',
              success: function (data) {
                  if (data.user) {
                    appendToUserTable(data.user)
                  }
              }
          });
        } else {
          alert("All fields must have a valid value.");
      }
      $('form#adduser').trigger("reset");
      }
      else 
      {
        var idInput = $('input[name="formId"]').val().trim();
        if (prenomInput && passInput) {
          // Create Ajax Call
          $.ajax({
              url: '{% url "update_user" %}',
              data: {
                  'id': idInput,
                  'prenom': prenomInput,
                  'nom': nomInput,
                  'tel': telInput,
                  'email': emailInput,
                  'username': userInput,
                  'adress':adressInput,
                  'password': passInput
              },
              dataType: 'json',
              success: function (data) {
                if (data.user) {
                  updateTouserTable(data.user);
                }
            }
        });
       } else {
        alert("All fields must have a valid value.");
        return false;
    }
    $('form#adduser').trigger("reset");
    $('#myModal').modal('hide');
    }

  return false; 
 });


   function appendToUserTable(user){
    $("#userTable > tbody:last-child").append(`
                  <tr id="user-${user.id}">
                    <td class="firstClass posteData" name="firstName">${user.first_name}</td>
                    '<td class="lastClass posteData" name="lastName">${user.last_name}</td>
                    '<td class="usernameClass posteData" name="usernameName">${user.username}</td>
                    '<td class="emailClass posteData" name="emailName">${user.email}</td>
                    '<td class="telClass posteData" name="telName">${user.tel}</td>
                    '<td class="adressClass posteData" style="display: none;" name="adressName">${user.adress}</td>
                      '<td class="align-center">
                        <button id="btn_edit" class="btn btn-success" style="float:right" onClick="edituser(${user.id})" data-toggle="modal" data-target="#myModal"><i class="fas fa-edit"></i></button>
                      </td>
                    
                     '<td class="align-center">
                          <button class="btn btn-danger" onClick="deleteU(${user.id})">
                            <i class="fas fa-trash-alt"></i>
                          </button>
                      </td>
                  </tr>
              `);
   }


   function edituser(id) {
    if (id) {
      tr_id = "#user-" + id;
      $('#form-id').val(id);
      $('#form-nom').val($(tr_id).find(".lastClass").text());
      $('#form-prenom').val($(tr_id).find(".firstClass").text());
      $('#form-user').val($(tr_id).find(".usernameClass").text());
      $('#form-tel').val($(tr_id).find(".telClass").text());
      $('#form-email').val($(tr_id).find(".emailClass").text());
      $('#form-adress').val($(tr_id).find(".adressClass").text());
      $('#btn_save').text('Modifier');     
    }
  }

   
    function deleteU(id) {
        var action = confirm("Etes vous sure de vouloir supprimer cet Utilisateur ?");
        if (action != false) {
          $.ajax({
              url: '{% url "Userdelete" %}',
              data: {
                  'id': id,
              },
              dataType: 'json',
              success: function (data) {
                  if (data.deleted) {
                    $("#userTable #user-" + id).remove();
                  }
              }
          });
        }
      }

      function setTONull(){
        $('form#adduser').trigger("reset");
        $("#btn_save").text('Enregistrer');
      }
</script>

<script>
  function updateTouserTable(user){
   $("#userTable #user-" + user.id).children('.posteData').each(function() {

       var attr = $(this).attr('name');
       if (attr == "firstName") {
         $(this).text(user.first_name);
       }    
       if (attr == "lastName") {
        $(this).text(user.last_name);
      } 
      if (attr == "emailName") {
        $(this).text(user.email);
      } 
      if (attr == "usernameName") {
        $(this).text(user.username);
      } 
      if (attr == "telName") {
        $(this).text(user.tel);
      }  
     });
}
</script>
{% endblock content %}