{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Niveaux</h1>
        </div>          
 <!-- Divider -->
 <hr class="sidebar-divider">

     <!-- Topbar -->
     <nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow">

      <!-- Topbar Search -->
      <form
          class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
              <input type="text" class="form-control bg-blue border-10 small" placeholder="Search for..."
                  aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                  </button>
              </div>
          </div>
      </form>

      <!-- Topbar Navbar -->
     <!-- Page Heading -->
<div class="d-sm-flex align-items-center ">
  <button data-toggle="modal" data-target="#myModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
  class="fas fa-plus fa-sm text-white-50"></i> Ajouter Niveau</button>
  </div>

  </nav>
  <!-- End of Topbar -->

        <table id="nivTable" class="table table-striped ">
            <tr class="d-flex">
              <th class="col-md" style="text-align:center" ><strong>NIVEAUX</strong></th>
              <th class="col-md" style="text-align:center" ><strong>TARIFS</strong></th>
              <th class="col-md" style="text-align:center" ><strong>ECOLE</strong></th>
              <th class="col" style="text-align:center" colspan="2"><strong>ACTIONS</strong></th>
            </tr>
            {% if niveaux %}
            {% for niveau in niveaux %}
            <tr class="d-flex" id="niveau-{{niveau.id}}">
              <td class="nomClass posteData col-md" name="nom" style="text-align:center">{{niveau.nom}}</td>
              <td class="tarifClass posteData col-md" name="tarif" style="text-align:center">{{niveau.tarif}}</td>
              <td class="ecoleClass posteData col-md" name="ecole" style="text-align:center">{{niveau.ecole.nom}}</td>
              <td class="col">
                  <div class="row">
                      <div class="col">
                        <button class="btn btn-success" style="float:right" onClick="editNiveau({{niveau.id}})" data-toggle="modal" data-target="#myModal"><i class="fas fa-edit"></i></button>
                      </div>
                      <div class="col">
                        <button class="btn btn-warning" style="float:left" onClick="deleteNiveau({{niveau.id}})"><i class="fas fa-archive"></i></button>
                      </div>
                  </div>
              </td>            
          </tr>
            {% endfor %}              
            {% endif %}
          </table>    
    </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>    
        <form id="addniveau" action="">
        <div class="modal-body">
            <input class="form-control" id="form-id" type="hidden" name="formId"/>
            <label >NOM</label>
            <input class="form-control" id="form-nom" type="text" name="formNom"/>
            <hr>
            <label >TARIF</label>
            <input class="form-control" id="form-tarif" type="number" name="formTarif"/>
            <hr>
        </div>
        <div class="modal-footer">
            <button id="btn_save" name="btn" type="submit" class="btn btn-primary" >Enregistrer</button>
            <button id="btn_close" onClick="closeAll()" class="btn btn-"type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
    $('#addniveau').submit(function() {
    var temoin = $('#btn_save').text();
    var nomInput = $('input[name="formNom"]').val().trim();
    var tarifInput = $('input[name="formTarif"]').val().trim();

    var compare = temoin.localeCompare('Enregistrer');

      if(compare == 0)
      {
        if (nomInput && tarifInput) {
          // Create Ajax Call
          $.ajax({
              url: '{% url "createNiveau" user.id %}',
              data: {
                  'nom': nomInput,
                  'tarif': tarifInput,
              },
              
              dataType: 'json',
              success: function (data) {
                  if (data.niveau) {
                    appendToNiveauTable(data.niveau);
                  }
              }
          });
        } else {
          alert("Remplir tous les champs.");
          return false;
      }
      $('form#addniveau').trigger("reset");
         }

      else 
      {
        var idInput = $('input[name="formId"]').val().trim();
        if (nomInput && tarifInput) {
          // Create Ajax Call
          $.ajax({
              url: '{% url "update_niveau" %}',
              data: {
                  'id': idInput,
                  'nom': nomInput,
                  'tarif':tarifInput
              },
              dataType: 'json',
              success: function (data) {
                  if (data.niveau) {
                    updateToNivTable(data.niveau);
                  }
              }
          });
         } else {
          alert("Remplir tous les champs.");
          return false;
      }
      $('form#addniveau').trigger("reset");
      }
   });


  function appendToNiveauTable(niveau) {
    $("#nivTable >= tbody:last-child").append(`
          <tr class="d-flex" id="niveau-${niveau.id}">
              <td class="nomClass col-md"  name="nom" style="text-align:center">${niveau.nom}</td>
              <td class="tarifClass col-md"  name="tarif" style="text-align:center">${niveau.tarif}</td>
              <td class="ecoleClass col-md" name="ecole" style="text-align:center">${niveau.ecole.nom}</td>
              '<td class="col-md">
                <div class="row">
                    <div class="col">
                      <button class="btn btn-success col-md" onClick="editNiveau({{niveau.id}})" data-toggle="modal" data-target="#myModal">MODIFIER</button>
                    </div>
                    <div class="col">
                      <button class="btn btn-danger col-md" onClick="deleteNiveau({{niveau.id}})">SUPPRIMER</button>
                    </div>
                </div>
            </td> 
          </tr>
      `);
  } 

        function editNiveau(id) {
          if (id) {
            tr_id = "#niveau-" + id;
            $('#form-id').val(id);
            $('#form-nom').val($(tr_id).find(".nomClass").text());
            $('#form-tarif').val($(tr_id).find(".tarifClass").text());
            $('#btn_save').text('Modifier');     
          }
        }

        function updateToNivTable(niveau){
            $("#nivTable #niveau-" + niveau.id).children('.posteData').each(function() {

                var attr = $(this).attr('name');
                if (attr == 'nom') {
                  $(this).val(niveau.nom);
                } 
                if (attr == 'ecole') {
                    $(this).val(niveau.ecole);
                  }
              });
        }

function closeAll() {

    $('#btn_save').text('Enregistrer');
    $('form#addniveau').trigger("reset");
}

function deleteNiveau(id) {
    var action = confirm("Supprimer Niveau ?");
    if (action != false) {
      $.ajax({
          url: '{% url "delete_niveau" %}',
          data: {
              'id': id,
          },
          dataType: 'json',
          success: function (data) {
              if (data.deleted) {
                $("#nivTable #niveau-" + id).remove();
              }
          }
      });
    }
  }

  </script>
{% endblock content %}





  
