{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href=" {%static 'vendor/fontawesome-free/css/all.min.css'%} " rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i "
        rel="stylesheet">
    
    <!-- Custom styles for this template-->
    <link href="{%static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
     <!-- Bootstrap core JavaScript-->
     <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    
     <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
     
     <!-- Core plugin JavaScript-->
     <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    
     <!-- Custom scripts for all pages-->
     <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
     
     <!-- Page level plugins -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    
     <!-- Page level custom scripts -->
     <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
     <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

     <style>
        #main { 
            font-size:36px; 
            font-weight:bold; 
            color:#1560CE; 
            text-align:center; 
            margin:auto;
            width: 400px;
        }
     </style>
   
</head>

<body>
    <nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow">

      <div id="main">
                        <marquee class="marq"  direction = "left" loop="" > 
                            <div class="geek1">Bienvenu dans la <strong>Famille Fambodj</strong></div> 
                        </marquee> 
                    </div>

                    <a class="nav-link" href="{% url 'login' %}" id="userDropdown" role="button"
                                >
                                <span class="mr-2 d-none d-lg-inline text-gray-600"><strong>CONNEXION</strong></span>
                                <img class="img-profile rounded-circle" style="width: 50px;height:50px;"
                                    src="media/users/login.png">
                            </a>
        </nav>


        <div class="container-fluid">

            <div class="row shadow" style="width:95%; height:200px; margin:auto">

            </div>

                <div id="tableDiv" style="margin-top:20px; margin-left:35px;">
                    <table>
                        <td>
                            <div id="recherche">
                                <div class="row">
                                    <div class="col" style="text-align:center;margin-right:10px;">        
                                      <select style="background-color: #7fb2ec98;" class="form-control" id="genreId" name="formNiveau" onchange="searchDatas()">   
                                          <option value="">---  ---</option>
                                          <option value="HOMME">HOMME</option>
                                          <option value="FEMME">FEMME</option>
                                      </select>
                                    </div>
                                    <div class="col" style="text-align:center; margin-left:10px;">
                                        <input style="background-color: #7fb2ec98;" type="text" id="txtmembre" onKeyup="searchMember()" class="form-control bg-blue border-10 small" placeholder="Rechercher ...">
                                  </div>
                                
                                  </div>
                            </div>
                           <div style="overflow-y:scroll; overflow-x:hidden; height:350px;width:600px; margin-top:20px;">
                               <table id="mTable" class="table table-striped" style="background-color: #7fb2ec98;">
                                   <tr>
                                    <th style="text-align:center; width:10%;"><strong>GENERATION</strong></th>
                                    <th style="text-align:center"><strong>PRENOM</strong></th>
                                    <th style="text-align:center"><strong>NOM</strong></th>
                                    <th style="text-align:center"><strong>AVATAR</strong></th>
                                   </tr>
                                   {% if persons %}
                                    {% for person in persons %}
                                  <tr>
                                    <td style="text-align:center;display:none"> {{person.genre}} </td>
                                    <td style="text-align:center;width:10%;"> {{person.gene}} </td>
                                    <td style="text-align:center"> {{person.prenom}} </td>
                                    <td style="text-align:center"> {{person.nom}} </td>
                                    <td style="text-align:center"> <img src="{{person.image.url}}" style="width: 80px;height:60px"> </td>
                                  </tr>
                                  {% endfor %}              
                             {% endif %}
                               </table>
                           </div>
                        </td>
                        <td>
                            <div style="overflow-y:scroll; overflow-x:hidden; height:350px;width:600px; margin-top:10px;margin-left:100px;">
                               <img src="media/users/famb.jpg" style="width: 300px;height:250px; float:right;">
                                <p>
                                <h1>FAMBODJ MAME PREMIER</h1>
        Le repas familial (gravure sur bois, xviie siècle).
        
        La famille de Philippe V d'Espagne (en 1723).
        
        Le portrait de famille est une des formes picturales répandues d'abord dans les familles nobles puis chez les familles bourgeoises (ici la famille Souchay vers 1805).
        
        Un peu de conversation, huile sur toile de Lilly Martin Spencer, vers 1851-1852
        
        Peinture à l'huile de Jean de Francqueville intitulée « En famille ».
        
        Portrait d'un chef camerounais et de sa famille (entre 1910 et 1930).
        
        Famille inuit (1917).
        
        Famille européenne photographiée au début du xxe siècle (1912).
        
        Famille congolaise (2007).
        
        Repas de famille au Japon (1980).
        La famille est :
        
        au sens large : l'ensemble des personnes ayant avec le sujet un lien de parenté ou d'alliance1 ;
        au sens strict : une personne ou un couple et leurs enfants vivant sous le même toit2.
        C'est une communauté de personnes existant dans toutes les sociétés humaines, selon l'anthropologue Claude Lévi-Strauss. Elle est dotée d'un domicile et crée entre ses membres une obligation morale de solidarité matérielle (entre époux, d’une part, et entre parents et enfants, d’autre part), censée les protéger et favoriser leur épanouissement social, physique et affectif.
                                </p>
                            </div>
                        </td>
                    </table>
                </div>
        </div>
            </body>
            <script>
                function searchDatas(){
      
                    var input,table,tr,td,filter,displayD;
                    input = document.getElementById("genreId");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("mTable");
                    tr = table.getElementsByTagName("tr");
                    
                    for(i=0;i<tr.length;i++)
                    {
                        td = tr[i].getElementsByTagName("td")[0];
                        
                        if (td){
                          displayD = td.innerText;
                          if(displayD.toUpperCase().indexOf(filter)>-1)
                          {
                            tr[i].style.display="";
                          }else
                          {
                            tr[i].style.display="none";
                          }
                        }
                    }
                  }

                  function searchMember(){
                    var input, filter, table, tr, td, i, textval;
                  input = document.getElementById("txtmembre");
                  filter = input.value.toUpperCase();
                  table = document.getElementById("mTable");
                  tr = document.getElementsByTagName("tr");
                  for  (i = 0; i < tr.length; i++){
                    td = tr[i].getElementsByTagName("td")[0];         
                    td1 = tr[i].getElementsByTagName("td")[1];         
                    td2 = tr[i].getElementsByTagName("td")[2];         
                    td3 = tr[i].getElementsByTagName("td")[3];         
                          
          
                    if(td){
                      textval = td.textContent || td.textContent;
                      textval1 = td1.textContent || td1.textContent;
                      textval2 = td2.textContent || td2.textContent;
                      textval3 = td3.textContent || td3.textContent;
                     
          
          
                      if (textval.toUpperCase().indexOf(filter) > -1 || textval1.toUpperCase().indexOf(filter) > -1 || textval2.toUpperCase().indexOf(filter) > -1
                      || textval3.toUpperCase().indexOf(filter) > -1 ){ 
                        tr[i].style.display="";
                    }
                    else{
                      tr[i].style.display="none";
                    }
                  }     
                  }
                  }
            </script>
            </html>
