{% extends 'base.html' %}

{% load crispy_forms_tags %} 
{% load static %} 
{% block content %}

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block ">
                                <img src="{% static 'img/lost_pass.png' %}" class="img-responsive"> 
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Vous voulez changez votre mot de passe ?</h1>
                                        <p class="mb-4"></p>
                                    </div>
                                    <form method="POST">

                                        {% csrf_token %}
                                        {{ form | crispy}}
                                       
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Change
                                        </button>
                                    </form>
                                    <hr>
                             
                                    <div class="text-center">
                                       <a class= 'small' href="{% url 'home' %}">Retour</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    {% endblock content %}
