{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% block content %}


    <!-- Begin Page Content -->
    <div class="container-fluid">
              
 <!-- Divider -->
 <hr class="sidebar-divider">

 <!-- Page Heading -->
 <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
  <h1 class="h3 mb-0 text-gray-800">Les Membres de la Famille</h1>
  </div>          
<!-- Divider -->
<hr class="sidebar-divider">

<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow">

<!-- Topbar Search -->
<form
    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
        <input type="text" id="txtmembre" onKeyup="searchMember()" class="form-control bg-blue border-10 small" placeholder="Search for..."
            aria-label="Search" aria-describedby="basic-addon2">
       
    </div>
</form>

<!-- Topbar Navbar -->
<!-- Page Heading -->
<div class="d-sm-flex align-items-center ">
<button data-toggle="modal" data-target="#myModal2" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
class="fas fa-plus fa-sm text-white-50"></i> Nouveau Membre</button>
</div>
</nav>
<div style="margin-bottom: 10px;" class="d-sm-flex align-items-center ">
  <button data-toggle="modal" data-target="#myModal10" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
  class="fas fa-plus fa-sm text-white-50"></i> Nouveau Membre GENE</button>
  </div>
<!-- End of Topbar -->
  <table id="memberTable" class="table table-striped data-table">
    <thead>
      <tr style="display:flex;">
        <th class="col-md" style="text-align:center" ><strong>GENERATION</strong></th>
        <th class="col-md" style="text-align:center" ><strong>PRENOM</strong></th>
        <th class="col-md" style="text-align:center" ><strong>NOM</strong></th>
        <th class="col-md" style="text-align:center" ><strong>TELEPHONE</strong></th>
        <th class="col-md" style="text-align:center" ><strong>GENRE</strong></th>
        <th class="col-md" style="text-align:center" ><strong>AVATAR</strong></th>
        <th class="col-md" style="text-align:center"><strong>LIER</strong></th>
        <th class="col-md" style="text-align:center" colspan="2"><strong>ACTIONS</strong></th>
      </tr>
    </thead>
    <tbody>
      {% if persons %}
      {% for person in persons %}
      <tr style="display:flex;" id="person-{{person.id}}">
        {% if person.gene != 0 %}
        <td class="geneClass posteData col-md" name="gene" style="text-align:center">GENE :  {{person.gene}}</td>
        {% else %}
        <td class="geneClass posteData col-md" name="gene" style="text-align:center"></td>
        {% endif %}
        <td class="prenomClass posteData col-md" name="prenom" style="text-align:center">{{person.prenom}}</td>
        <td class="nomClass posteData col-md" name="nom" style="text-align:center">{{person.nom}}</td>
        <td class="telClass posteData col-md" name="tel" style="text-align:center">{{person.tel}}</td>
        <td class="genreClass posteData col-md" name="genre" style="text-align:center">{{person.genre}}</td>

        {% if person.image %}
        <td class="imgClass posteData col-md" name="img" style="text-align:center"><img src="{{person.image.url}}" width="40px" height="40px"/></td>
        {% endif %}
      <td class="col-md"><a class="btn btn-success form-control" href="{% url 'openLink' person.id %}">LIER</a>
      </td>
        <td class="col-md">
            <div class="row">
                <div class="col-sm">
                  <button class="btn btn-info" style="float:right" onClick="editMember({{person.id}})" data-toggle="modal" data-target="#myModal2"><i class="fas fa-edit"></i></button>
                </div>
                <div class="col-sm">
                  <button class="btn btn-warning" style="float: left" onClick="deleteMember({{person.id}})"><i class="fas fa-archive"></i></button>
                </div>
            </div>
        </td>            
    </tr>
      {% endfor %}              
      {% endif %}
    </tbody>
    </table>

    <nav style="float:right" aria-label="...">
      {% if persons.has_other_pages %}
      <ul class="pagination">
        {% if persons.has_previous %}
        <li class="page-item">
        <a href="?page={{ persons.previous_page_number }}" class="page-link">Previous</a>
      </li>
        {% else %}
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        {% endif %}

        {% for i in persons.paginator.page_range %}
        {% if persons.number == i %}
        <li class="page-item active">
          <span class="page-link">
            {{ i }} 
            <span class="sr-only">(current)</span>
          </span>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if persons.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ persons.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <span class="page-link">Next</span>
        </li>
      </ul>
      {% endif %}
    </nav> 
    {% endif %}
    


        <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
           
          <div class="modal-body">
              <form method="POST" action='.' id="ajax" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control" id="form-id" type="hidden" name="formId"/>
          <div class="row">
            <div class="col-sm">
              <label >PRENOM</label>
              <input class="form-control" id="prenomId" type="text" name="formPrenom"/>
            </div>
            <div class="col-sm">
            <label >NOM</label>
            <input class="form-control" id="nomId" type="text" name="formNom"/>
            </div>
          </div>
          <hr>
        
          <div class="row">
            <div class="col-sm">
              <label >TELEPHONE</label>
              <input class="form-control" id="telId" type="text" name="formTel"/>
            </div>
              <div class="col-sm">
                <label >GENRE</label>
                <select class="form-control" id="genreId" name="formGenre">   
                  <option value="">--- ---</option>
              <option value="HOMME"> HOMME</option>
              <option value="FEMME"> FEMME</option>
              </select>    
                </div>
          </div>
          <hr>      
              <label >ADRESSE</label>
              <textarea class="form-control" id="adressId" type="text" name="formAdress"></textarea>
              <hr>      
                <label>AVATAR</label>
                <input class="form-control" id="imageId" type="FILE" name="formImage"/>
          <hr>      
          </div>
          <div class="modal-footer">
              <button id="btn_save" name="btn" type="submit" class="btn btn-primary">Enregistrer</button>
              <button id="btn_close" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
          </form>
        </div>
      </div>
      </div>


          <!-- Modal -->
    <div class="modal fade" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
           
          <div class="modal-body">
              <form method="POST" action='.' id="ajax2" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control" id="form-id1" type="hidden" name="formId1"/>
          <div class="row">
            <div class="col-sm">
              <label >PRENOM</label>
              <input class="form-control" id="prenomId1" type="text" name="formPrenom1"/>
            </div>
            <div class="col-sm">
            <label >NOM</label>
            <input class="form-control" id="nomId1" type="text" name="formNom1"/>
            </div>
          </div>
          <hr>
        
          <div class="row">
            <div class="col-sm">
              <label >TELEPHONE</label>
              <input class="form-control" id="telId1" type="text" name="formTel1"/>
            </div>
              <div class="col-sm">
                <label >GENRE</label>
                <select class="form-control" id="genreId1" name="formGenre1">   
                  <option value="">--- ---</option>
              <option value="HOMME"> HOMME</option>
              <option value="FEMME"> FEMME</option>
              </select>    
                </div>
          </div>
          <hr>      
              <label >ADRESSE</label>
              <textarea class="form-control" id="adressId1" type="text" name="formAdress1"></textarea>
              <hr>      
                <label>AVATAR</label>
                <input class="form-control" id="imageId1" type="FILE" name="formImage1"/>
          <hr>  
          <input class="form-control" id="geneId1" type="number" name="formGene1"/>  
          <hr>  
          </div>
          <div class="modal-footer">
              <button id="btn_save1" name="btn" type="submit" class="btn btn-primary">Enregistrer</button>
              <button id="btn_close" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
          </form>
        </div>
      </div>
      </div>
      
      
      
      <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
      <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <script>

      function deleteMember(id){
        var action = confirm("Supprimer Membre ?");
        if (action != false) {
          $.ajax({
              url: '{% url "memberDelete" %}',
              data: {
                  'id': id,
              },
              dataType: 'json',
              success: function (data) {
                  if (data.deleted) {
                    $("#memberTable #person-" + id).remove();
                  }
              }
          });
        }
        }

      </script>

      <script>
        $('#ajax').submit(function(event) {
          event.preventDefault();
          var prenomInput = $('input[name="formPrenom"]').val().trim();
          var nomInput = $('input[name="formNom"]').val().trim();
          var telInput = $('input[name="formTel"]').val().trim();
          var telInput = $('input[name="formTel"]').val().trim();
          var adressInput = $('#adressId').val().trim();
          var genreInput= $('#genreId').val().trim()
          var temoin = $('#btn_save').text();
          var compare = temoin.localeCompare('Enregistrer');
  
          if(compare == 0)
          {
            if (prenomInput && nomInput && telInput && adressInput && genreInput=="HOMME" || genreInput=="FEMME" ) {
          var data = new FormData($('#ajax').get(0));
          console.log(data)
      
          $.ajax({
              url: '{% url "testcreate" %}', // 
              type: 'POST',
              data: data,
              contentType: 'multipart/form-data',
              processData: false,
              contentType: false,
              success: function(data) {
                  if(data.person){
                    appendToMember(data.person)
                  }
              }
          });
        } 
        else {
            alert("Remplir tous les champs.");
            return false;
        }
        $('form#ajax').trigger("reset");
        }
        else{
          if (prenomInput && nomInput && telInput && adressInput && genreInput=="HOMME" || genreInput=="FEMME" ) {
            
            var data = new FormData($('#ajax').get(0));
            console.log(data)
        
            $.ajax({
                url: '{% url "updateMember" %}', // 
                type: 'POST',
                data: data,
                contentType: 'multipart/form-data',
                processData: false,
                contentType: false,
                success: function(data) {
                   if(data.person){
                     updateMemberTable(data.person)
                   }
                }
            });
          }else {
            alert("All fields must have a valid value.");
            return false; 
        }
          return false;
        }
      });
/*  ------------------  */

      $('#ajax2').submit(function(event) {
        event.preventDefault();
        var prenomInput1 = $('input[name="formPrenom1"]').val().trim();
        var nomInput1 = $('input[name="formNom1"]').val().trim();
        var telInput1 = $('input[name="formTel1"]').val().trim();
        var adressInput1 = $('#adressId1').val().trim();
        var genreInput1= $('#genreId1').val().trim()
        var geneInput1= $('#geneId1').val()
        var temoin = $('#btn_save1').text();
        var compare = temoin.localeCompare('Enregistrer');

        if(compare == 0)
        {
          if (prenomInput1 && nomInput1 && telInput1 && adressInput1 && geneId1 && genreInput1=="HOMME" || genreInput1=="FEMME") {
        var data = new FormData($('#ajax2').get(0));
        console.log(data)
    
        $.ajax({
            url: '{% url "test2create" %}', // 
            type: 'POST',
            data: data,
            contentType: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function(data) {
                if(data.person){
                  appendToMember(data.person)
                }
            }
        });
      } 
      else {
          alert("Remplir tous les champs.");
          return false;
      }
      $('form#ajax2').trigger("reset");
      }
      else{
        if (prenomInput1 && nomInput1 && telInput1 && adressInput1 && geneInput1 && genreInput1=="HOMME" || genreInput1=="FEMME" ) {
          
          var data = new FormData($('#ajax2').get(0));
          console.log(data)
      
          $.ajax({
              url: '{% url "updateMember2" %}', // 
              type: 'POST',
              data: data,
              contentType: 'multipart/form-data',
              processData: false,
              contentType: false,
              success: function(data) {
                 if(data.person){
                   updateMemberTable(data.person)
                 }
              }
          });
        }else {
          alert("Remplir tous les champs.");
          return false; 
      }
        return false;
      }
    });


        function appendToMember(person){
          $("#memberTable > tbody:last-child").append(`
                  <tr style="display:flex;" id="person-${person.id}">
                    <td class="geneClass posteData col-md" name="gene" style="text-align:center;"></td>
                    '<td class="prenomClass posteData col-md" name="prenom" style="text-align:center">${person.prenom}</td>
                    '<td class="nomClass posteData col-md" name="nom" style="text-align:center">${person.nom}</td>
                    '<td class="telClass posteData col-md" name="tel" style="text-align:center">${person.tel}</td>
                    '<td class="genreClass posteData col-md" name="genre" style="text-align:center">${person.genre}</td>

                    '<td class="imgClass posteData col-md" name="img" style="text-align:center"><img src="${person.image}" width="40px" height="40px"/></td>
                  <td class="col-md"><a class="btn btn-success form-control" onclick="openLink2(${person.id})">LIER</a>
                  </td>
                    <td class="col-md">
                        <div class="row">
                            <div class="col-sm">
                              <button class="btn btn-info" style="float:right" onClick="editMember(${person.id})" data-toggle="modal" data-target="#myModal2"><i class="fas fa-edit"></i></button>
                            </div>
                            <div class="col-sm">
                              <button class="btn btn-warning" style="float: left" onClick="deleteMember(${person.id})"><i class="fas fa-archive"></i></button>
                            </div>
                        </div>
                    </td>               
                  </tr>
                    `);
         }

         function editMember(id){
          tr_id = "#person-" + id;
          $('#form-id').val(id);
          $('#prenomId').val($(tr_id).find(".prenomClass").text());
          $('#nomId').val($(tr_id).find(".nomClass").text());
          $('#telId').val($(tr_id).find(".telClass").text());
          $('#adressId').val($(tr_id).find(".adressClass").text());
          $('#genreId').val($(tr_id).find(".genreClass").text());
          $('#imageId').val($(tr_id).find(".imgClass").text());
          $('#btn_save').text('Modifier');     
         }

         function updateMemberTable(person){
         location.reload(true);
         }

        function searchMember(){
          var input, filter, table, tr, td, i, textval;
        input = document.getElementById("txtmembre");
        filter = input.value.toUpperCase();
        table = document.getElementById("memberTable");
        tr = document.getElementsByTagName("tr");
        for  (i = 0; i < tr.length; i++){
          td = tr[i].getElementsByTagName("td")[0];         
          td1 = tr[i].getElementsByTagName("td")[1];         
          td2 = tr[i].getElementsByTagName("td")[2];         
          td3 = tr[i].getElementsByTagName("td")[3];         
          td4 = tr[i].getElementsByTagName("td")[4];         
          td5 = tr[i].getElementsByTagName("td")[5];         

          if(td){
            textval = td.textContent || td.textContent;
            textval1 = td1.textContent || td1.textContent;
            textval2 = td2.textContent || td2.textContent;
            textval3 = td3.textContent || td3.textContent;
            textval4 = td4.textContent || td4.textContent;
            textval5 = td5.textContent || td5.textContent;


            if (textval.toUpperCase().indexOf(filter) > -1 || textval1.toUpperCase().indexOf(filter) > -1 || textval2.toUpperCase().indexOf(filter) > -1
            || textval3.toUpperCase().indexOf(filter) > -1 || textval4.toUpperCase().indexOf(filter) > -1 || textval5.toUpperCase().indexOf(filter) > -1){ 
              tr[i].style.display="flex";
          }
          else{
            tr[i].style.display="none";
          }
        }     
        }
        }

        function openLink2(id){
         
            url_page = "{% url 'openLink' 123 %}"
            url = url_page.replace('123', id)
            location.href=url;
         
        }
      </script>
{% endblock content %}