{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Les Membres de la Famille</h1>
        </div>          
 <!-- Divider -->
 <hr class="sidebar-divider">

     <!-- Topbar -->
     <nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow">

      <!-- Topbar Search -->
      <form
          class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
              <input type="text" class="form-control bg-blue border-10 small" placeholder="Search for..."
                  aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                  </button>
              </div>
          </div>
      </form>

      <div class="d-sm-flex align-items-center ">
        <button onclick="setTONull()" data-toggle="modal" data-target="#myModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-plus fa-sm text-white-50"></i> Nouveau Membre </button>
        </div>
  </nav>

        <table id="memberTable" class="table table-striped">
            <tr>
              <th>PRENOM</th>
              <th>NOM</th>
              <th>TELEPHONE</th>
              <th>GENRE</th>
              <th>ADRESSE</th>

              <th style="text-align:center" colspan="2">Actions</th>
            </tr>
            {% if persons %}
            {% for person in persons %}
            <tr id="person-{{person.id}}">
              <td class="prenomClass posteData" name="prenom">{{person.prenom}}</td>
              <td class="nomClass posteData" name="nom">{{person.nom}}</td>
              <td class="telClass posteData" name="tel">{{person.tel}}</td>
              <td class="genreClass posteData" name="genre">{{person.genre}}</td>
              <td class="adressClass posteData" name="adress">{{person.adress}}</td>
              <td class="align-center">
                <a class="btn btn-info form-control" href="">
                    <i class="fas fa-eye"></i>
                </a>
              </td>
            
              <td class="align-center">
                  <button class="btn btn-danger form-control" onClick="deleteU({{person.id}})">
                    <i class="fas fa-trash-alt"></i>
                  </button>
              </td>
          </tr>
            {% endfor %}
            {% else %}
              
            {% endif %}
          </table>    
    </div>


    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
       
      <form  id="addmember" action="">
      <div class="modal-body">
          <input class="form-control" id="form-id" type="hidden" name="formId"/>
          <div class="row">
            <div class="col-sm">
              <label >PRENOM</label>
              <input class="form-control" id="form-prenom" type="text" name="formPrenom"/>
            </div>
            <div class="col-sm">
            <label >NOM</label>
            <input class="form-control" id="form-nom" type="text" name="formNom"/>
            </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-sm">
                <label>TELEPHONE</label>
                <input type="text" class="form-control" id="form-tel" name="formTel"/>
              </div>
              <div class="col-sm">
                <label >GENRE</label>
                <select class="form-control" id="form-genre" name="formGenre">
                  <option value=""></option>
                  <option value="HOMME">HOMME</option>
                  <option value="FEMME">FEMME</option>
                </select>
              </div>
          </div>
          <hr>
          <label>ADRESSE</label>
          <textarea class="form-control" id="form-adress" name="formAdress"></textarea>
          <hr> 
          <label>CHOISIR PHOTO</label>
          <input type="file" class="form-control" id="form-img" name="formImg"/>
          <hr>      
      </div>
      <div class="modal-footer">
          <button id="btn_save" name="btn" type="submit" class="btn btn-primary" >Enregistrer</button>
          <button id="btn_close" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
      </form>
    </div>
  </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

 /*   $('#adduser').submit(function() {
     
    var temoin = $('#btn_save').text();
    var prenomInput = $('input[name="formPrenom"]').val().trim();
    var nomInput = $('input[name="formNom"]').val().trim();
    var userInput = $('input[name="formUser"]').val().trim();
    var telInput = $('input[name="formTel"]').val().trim();
    var adressInput = $('input[name="formAdress"]').val().trim();
    var emailInput = $('input[name="formEmail"]').val().trim();
    var passInput = $('input[name="formPass"]').val().trim();
    

    var compare = temoin.localeCompare('Enregistrer');
  
      if(compare == 0)
      {
        if (prenomInput) {
          // Create Ajax Call
          $.ajax({
              url: '{% url "userCreate" %}',
              data: {
                  'prenom': prenomInput,
                  'nom': nomInput,
                  'tel': telInput,
                  'email': emailInput,
                  'username': userInput,
                  'password': passInput,
                  'adress':adressInput
              },
              
              
              dataType: 'json',
              success: function (data) {
                  if (data.user) {
                   
                  }
              }
          });
        } else {
          alert("All fields must have a valid value.");
      }
      $('form#adduser').trigger("reset");
      location.reload(true);
      }
    return false; 
   }); */

   
    function deleteU(id) {
        var action = confirm("Etes vous sure de vouloir supprimer cet Utilisateur ?");
        if (action != false) {
          $.ajax({
              url: '',
              data: {
                  'id': id,
              },
              dataType: 'json',
              success: function (data) {
                  if (data.deleted) {
                    $("#userTable #user-" + id).remove();
                    location.reload(true);
                  }
              }
          });
        }
      }

      function setTONull(){
        $("#form-user").val("");
        $("#form-pass").val("");
      }
</script>
{% endblock content %}