{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %} 

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Profil</h1>
        </div>          

        <!-- Main Content Here -->
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="card o-hidden border-0 shadow-lg my-5 col-lg-5">
            <div class="card-body">
              <p><strong>PRENOM: </strong> {{user.first_name}} </p>
              <p><strong>NOM: </strong> {{user.last_name}} </p>
              <p><strong>NOM UTILISATEUR: </strong> {{user.username}} </p>
                <p><strong>Email: </strong> {{user.email}} </p>
                <p><strong>TELEPHONE: </strong> {{user.profile.tel}} </p>
                <p><strong>DATE DE NAISSANCE: </strong> {{user.profile.naissance}} </p>
                <a href="{% url 'profile-update' %}" class="btn btn-sm btn-primary shadow-sm">Mettre a jour son Profile</a>
            </div>
          </div>
        </div>
        
        
        
    </div>
    <!-- /.container-fluid -->
{% endblock content %}